* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --color-1: #2F2FE4;
  --color-2: #162E93;
  --color-3: #1A1953;
  --color-4: #080616;
  --color-5: #efefef;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  background-color: var(--color-1);
}

/* Utilities */
.allow-select-text {
  user-select: text;
}